body {
   font-family: "Inter Medium", sans-serif;
   margin: 0;
   padding: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   background-color: #F4F5FB;
 }
 
 .container {
   background: #FFFFFF;
   padding: 20px;
   border-radius: 8px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   width: 90%;
   max-width: 400px;
   text-align: center;
 }
 
 h1 {
   margin-bottom: 20px;
   color: #333;
 }
 
 form {
   display: flex;
   justify-content: center;
   margin-bottom: 20px;
 }
 
 input[type="text"] {
   flex: 1;
   padding: 8px;
   border: 1px solid #D1D5DB;
   border-radius: 4px 0 0 4px;
   font-size: 16px;
 }
 
 button[type="submit"] {
   padding: 8px 15px;
   border: none;
   background-color: #8a2364;
   color: #F4F5FB;
   font-size: 16px;
   border-radius: 0 4px 4px 0;
   cursor: pointer;
 }
 
 button[type="submit"]:hover {
   background-color: #CA3884;
 }
 
 ul {
   list-style: none;
   padding: 0;
 }
 
 li {
   margin: 10px 0;
   display: flex;
   justify-content: space-between;
   align-items: center;
 }
 
 button.remove-btn {
   background-color: #C93847;
   color: #F4F5FB;
   border: none;
   padding: 5px 10px;
   border-radius: 4px;
   cursor: pointer;
 }
 
 button.remove-btn:hover {
   background-color: #e60000;
 }
 
 #feedback {
   margin-top: 10px;
   color: #C93847;
   font-weight: bold;
 }
 